/* --------------------------------------- */
/* Basic Setup */
/* --------------------------------------- */
* {
  padding: 0;
  border: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .5s;
  transition: all .5s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

html, body {
  height: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  text-transform: none;
  font-style: normal;
  letter-spacing: 0em;
  text-decoration: none;
  line-height: 1.25em;
}

/* --------------------------------------- */
/* Main Section */
/* --------------------------------------- */
.parallax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main.home {
  background-image: url("/assets/img/main-image.jpg");
}

main.dvino {
  background-image: url("/assets/img/macbook.jpg");
}

main .page-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main .page-desc p {
  color: #fff;
  font-size: 3em;
  text-transform: capitalize;
  letter-spacing: 0px;
  line-height: 1em;
}

main header {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

main header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  padding: 50px 0;
}

main header .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
  width: 100%;
}

main header .nav-wrapper .logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

main header .nav-wrapper .logo-wrapper a {
  font-size: 40px;
}

main header .nav-wrapper .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main header .nav-wrapper .navigation-mobile {
  display: none;
}

main header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main header ul li {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  text-align: right;
}

main header ul li a {
  font-weight: bold;
}

main header ul :hover {
  color: #b2bec3;
}

main .button-scroll-down {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  -webkit-animation: MoveUpDown 1.5s linear infinite;
          animation: MoveUpDown 1.5s linear infinite;
}

main .button-scroll-down a:hover .arrow {
  display: none;
}

main .button-scroll-down a:hover span {
  display: block;
}

main .button-scroll-down a .arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 9px;
  font-size: 35px;
  color: #fff;
}

main .button-scroll-down a .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

main .button-scroll-down span {
  display: none;
}

.back-to-top-container {
  display: none;
  position: fixed;
  right: 15px;
  bottom: 25px;
  background-color: #0984e3;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  -webkit-transition: none;
  transition: none;
  cursor: pointer;
  z-index: 10000;
}

.back-to-top-container i {
  display: block;
  position: relative;
  top: 20px;
  left: 17px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  padding: 6px;
  font-size: 35px;
  color: #fff;
}

.back-to-top-container .up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/* --------------------------------------- */
/* Section - Services */
/* --------------------------------------- */
.active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.services-container .grid-box {
  width: 30%;
  text-align: center;
}

.services-container .grid-box .credit {
  display: none;
}

.services-container .grid-box img {
  width: 59px;
  cursor: pointer;
}

.services-container .grid-box:nth-child(2) {
  margin-bottom: 100px;
}

/* --------------------------------------- */
/* Section - Portfolio*/
/* --------------------------------------- */
.page-title {
  text-align: center;
  padding: 100px 8%;
}

.portfolio {
  padding-bottom: 100px;
}

.portfolio .portfolio-grid-system {
  width: 100%;
}

.portfolio .portfolio-grid-system .portfolio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 52%;
  margin: 0 auto;
}

.portfolio .portfolio-grid-system .portfolio-container .portfolio-img-box {
  width: 242px;
  height: auto;
  margin: 0 5px;
  overflow: hidden;
}

.portfolio .portfolio-grid-system .portfolio-container .portfolio-img-box .img-box {
  width: 100%;
  height: 383px;
}

.portfolio .portfolio-grid-system .portfolio-container .portfolio-img-box .img-box a {
  width: 100%;
  height: 383px;
  overflow: hidden;
}

.portfolio .portfolio-grid-system .portfolio-container .portfolio-img-box .img-box img {
  position: relative;
  top: 0px;
  left: -122.317px;
}

.portfolio .portfolio-grid-system .portfolio-container .portfolio-img-box .img-box img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.portfolio .portfolio-grid-system .portfolio-container .portfolio-img-box .img-box img.romanza {
  left: 0;
}

.portfolio .portfolio-grid-system .portfolio-container .portfolio-img-box .img-box img.bond {
  top: -100px;
  left: -150px;
}

.portfolio .portfolio-grid-system .portfolio-container .portfolio-img-box .sub-img-text {
  padding: 20px 0;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  opacity: 0.7;
}

/* --------------------------------------- */
/* Section Post Grid */
/* --------------------------------------- */
section.section-divider-parallax {
  position: relative;
  height: 100vh;
  background-image: url("/assets/img/black_white.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section.section-divider-parallax h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
  z-index: 1000;
}

/* --------------------------------------- */
/* Section - Services */
/* --------------------------------------- */
/* --------------------------------------- */
/* Footer Section */
/* --------------------------------------- */
.fa-pinterest, .fa-pinterest-square {
  color: #2d3436;
}

.fa-instagram {
  color: #2d3436;
}

.fa-linkedin, .fa-linkedin-square {
  color: #2d3436;
}

footer .large-form-container {
  width: 100%;
  height: 100vh;
  padding: 100px;
  margin: 5% 0;
  background-image: url("/assets/img/google-map.jpg");
  background-size: cover;
}

footer .large-form-container .box {
  width: 50%;
  padding: 5% 10%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #fff;
}

footer .large-form-container .box h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}

footer .large-form-container .box .form-container form {
  text-align: center;
}

footer .large-form-container .box .form-container form input {
  width: 100%;
  padding: 3% 2%;
  border-radius: 5px;
  margin-top: 10px;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  font-size: 15px;
}

footer .large-form-container .box .form-container form input:focus {
  outline: transparent;
}

footer .large-form-container .box .form-container form textarea {
  width: 100%;
  padding: 3% 2%;
  margin-top: 15px;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  font-size: 15px;
}

footer .large-form-container .box .form-container form textarea:focus {
  outline: transparent;
}

footer .large-form-container .box .form-container form button {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  margin: 10px 0;
  background-color: #00a8ff;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
}

footer .social-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-bottom: 3em;
}

footer .social-media-container a {
  margin: 0 10px;
}

footer .social-media-container a i.fa-instagram:hover {
  color: #E1306C;
}

footer .social-media-container a i.fa-linkedin-square:hover {
  color: #74b9ff;
}

footer .social-media-container a i.fa-pinterest-square:hover {
  color: #ff7675;
}

/* Portrait and Landscape */
@media only screen and (max-width: 1024px) and (-webkit-max-device-pixel-ratio: 1) {
  main header .nav-wrapper .nav-items {
    display: none;
  }
  main header .nav-wrapper .navigation-mobile {
    display: block;
  }
  main header .nav-wrapper .navigation-mobile .navigation {
    display: none;
  }
  main header .nav-wrapper .navigation-mobile .menu-btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80px;
    height: 40px;
    cursor: pointer;
    border-radius: 3px;
  }
  main header .nav-wrapper .navigation-mobile .menu-btn .menu-btn-burger {
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
            box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  }
  main header .nav-wrapper .navigation-mobile .menu-btn .menu-btn-burger::before,
  main header .nav-wrapper .navigation-mobile .menu-btn .menu-btn-burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
            box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  }
  main header .nav-wrapper .navigation-mobile .menu-btn .menu-btn-burger::before {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  main header .nav-wrapper .navigation-mobile .menu-btn .menu-btn-burger::after {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
}
/*# sourceMappingURL=style.css.map */