/* --------------------------------------- */
/* Basic Setup */
/* --------------------------------------- */

* {
    padding: 0;
    border: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    transition: all .5s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  html, body {
    height: 100%;

  }
  
  a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
  }

  li {
    list-style-type: none;
  }
  
  h1 {
    font-size: 48px;
    font-weight: 700;
    text-transform: none;
    font-style: normal;
    letter-spacing: 0em;
    text-decoration: none;
    line-height: 1.25em;
  }

/* --------------------------------------- */
/* Main Section */
/* --------------------------------------- */


.parallax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main.home {
  background-image: url('/assets/img/main-image.jpg');
}

main.dvino {
  background-image: url('/assets/img/macbook.jpg');
}

main {
  .page-desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
      color: #fff;
      font-size: 3em;
      text-transform: capitalize;
      letter-spacing: 0px;
      line-height: 1em;
      //text-shadow: 3px 3px #000;
    } 
  }
  header {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;

    nav {
      display: flex;
      width:100%;
      height: auto;
      padding: 50px 0;
    }
    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        width: 100%;
        .logo-wrapper {
          display: flex;
          width: 50%;
          a {
            font-size: 40px;
          }
        }
        .nav-items {
          display: flex;
          width: 30%;
          align-items: center;
        }
        .navigation-mobile {
          display: none;

          .overlay {
            display: none;
          }
        }

        .navigation-center {
          display: none;
        }
    }
    ul {
      display: flex;
      width: 100%;
      justify-content: space-around;
      li {
        justify-content: space-around;
        //text-shadow: 2px 2px #000;
        flex: 3;
        text-align: right;
        
        a {
          font-weight: bold;
        }
      }
      :hover {
        color: #b2bec3;
      }
    }
  }

  .button-scroll-down {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    animation: MoveUpDown 1.5s linear infinite;

    a {
      &:hover {
        .arrow {
          display: none;
        }
        span {
          display: block;
        }
      }
      .arrow {
        border: solid #fff;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 9px;
        font-size: 35px;
        color: #fff;
      }
      .down {
         transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
    span {
      display: none;
    }
  }
}


.back-to-top-container {
  display: none;
  position: fixed;
  right: 15px;
  bottom: 25px;
  background-color: #0984e3;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  transition: none;
  cursor: pointer;
  z-index: 10000;

    i {
      display: block;
      position: relative;
      top: 20px;
      left: 17px;
      border: solid #fff;
      border-width: 0 3px 3px 0;
      padding: 6px;
      font-size: 35px;
      color: #fff;

    }

    .up {
       transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }
}

/* --------------------------------------- */
/* Section - Services */
/* --------------------------------------- */

.active {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
}

.services-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;

  .grid-box {
    width: 30%;
    text-align: center;

    .credit {
      display: none;
    }

    img {
      width: 59px;
      cursor: pointer;
    }

    &:nth-child(2) {
      margin-bottom: 100px;
    }
  }
}

/* --------------------------------------- */
/* Section - Portfolio*/
/* --------------------------------------- */

.page-title {
  text-align: center;
  padding: 100px 8%;
}

.portfolio {
  padding-bottom: 100px;

  .portfolio-grid-system {
    width: 100%;

    .portfolio-container {
      display: flex;
      justify-content: space-between;
      width: 52%;
      margin: 0 auto;

      .portfolio-img-box {
        width: 242px;
        height: auto;
        margin: 0 5px;
        overflow: hidden;

        .img-box {
          width: 100%;
          height: 383px;

          a {
            width: 100%;
            height: 383px;
            overflow: hidden;
          }

          img {
            position: relative;
            top: 0px;
            left: -122.317px;

            &:hover {
              transform: scale(1.1);
            }
          }

          img.romanza {
            left: 0;
          }

          img.bond {
            top: -100px;
            left: -150px;
          }

        }
        .sub-img-text {
          padding: 20px 0;
          font-family: 'Times New Roman', Times, serif;
          text-align: center;
          opacity: 0.7;
        }
      }
    }
  }
}

/* --------------------------------------- */
/* Section Post Grid */
/* --------------------------------------- */

section.section-divider-parallax {
    position: relative;
    height: 100vh;
    background-image: url('/assets/img/black_white.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 20px;
      z-index: 1000;
    }
  }

  
/* --------------------------------------- */
/* Section - Services */
/* --------------------------------------- */



/* --------------------------------------- */
/* Footer Section */
/* --------------------------------------- */

$blue: #405DE6;
$lavender: #5851DB;
$purple: #833AB4;
$maroon: #C13584;
$pink: #E1306C;
$red: #FD1D1D;
$peach: #F56040;
$orange: #F77737;
$mandarin: #FCAF45;
$yellow: #FFDC80;

.fa-pinterest, .fa-pinterest-square {
  color: #2d3436;
}

.fa-instagram {
  color:  #2d3436;
}


.fa-linkedin, .fa-linkedin-square {
  color: #2d3436;
}

footer {

  .large-form-container {
    width: 100%;
    height: 100vh;
    padding:100px;
    margin: 5% 0;
    background-image:url('/assets/img/google-map.jpg');
    background-size: cover;
    .box {
      width: 800px;
      padding: 5% 10%;
      margin: 0 auto;
      border-radius: 20px;
      background-color: #fff;

      h2 {
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: bold;
      }
      .form-container {
       
        form {
          text-align: center;
    
          input {
            width: 100%;
            padding: 3% 2%;
            border-radius: 5px;
            margin-top: 10px;
            -moz-box-shadow: 0 0 3px #ccc;
            -webkit-box-shadow: 0 0 3px #ccc;
            box-shadow: 0 0 3px #ccc;
            font-size: 15px;
            &:focus {
              outline: transparent;
            }
          }
    
          textarea {
            width: 100%;
            padding: 3% 2%;
            margin-top: 15px;
            -moz-box-shadow: 0 0 3px #ccc;
            -webkit-box-shadow: 0 0 3px #ccc;
            box-shadow: 0 0 3px #ccc;
            font-size: 15px;
            &:focus {
              outline: transparent;
            }
          }
    
          button {
            width: 150px;
            height: 50px;
            border-radius: 5px;
            margin: 10px 0;
            background-color: #00a8ff;
            color: #fff;
            font-size: 15px;
            font-weight: bold;
            cursor: pointer;
            -moz-box-shadow: 0 0 3px #ccc;
            -webkit-box-shadow: 0 0 3px #ccc;
            box-shadow: 0 0 3px #ccc;
          }
        }
      }
    }
   
  }

  

  .social-media-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 3em;
    a {
      margin: 0 10px;
      i.fa-instagram {
        &:hover {
          color: #E1306C;
        }
      }
      i.fa-linkedin-square {
        &:hover {
          color: #74b9ff;
        }
      }
      i.fa-pinterest-square {
        &:hover {
          color: #ff7675;
        }
      }
    }
  }
}

/* Portrait and Landscape */
@media only screen and (max-width: 1024px){


  body.mobile-on {
    position: fixed;
    width: 100%;
  }

  main {
    header {
      .nav-wrapper {
        a {
          z-index: 200;
        }
        .nav-items {
          display: none;
        }

        .navigation-mobile {
          display: block;

          .navigation-center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 150;
            .nav-items {
              display: block;
              li {
                text-align: center;
                margin: 75px 0;
              }
            }
          }

          .navigation-center.turn-on {
            display: block;
          }

          .overlay.on {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: #000;
            opacity: 0.8;
            z-index: 100;
          }

          .menu-btn {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 40px;
            cursor: pointer;
            // border: 3px solid #fff;
            border-radius: 3px;
            z-index: 150;

            .menu-btn-burger {
              width: 30px;
              height: 3px;
              background: #fff;
              border-radius: 5px;
              box-shadow: 0 2px 5px rgba(255,101,47,.2);

              &::before, &::after {
                content: '';
                position: absolute;
                width: 30px;
                height: 3px;
                background: #fff;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(255,101,47,.2);
              }

              &::before {
                transform: translateY(-7px);
              }

              &::after {
                transform: translateY(7px);
              }
            }
          }

          /* ANIMATION */
          .menu-btn.open {
            .menu-btn-burger {
              transform: translateX(0px);
              background: transparent;
              box-shadow: none;
              transition: none;

              &::before {
                transform: rotate(45deg) translate(0px, -0px);
              }

              &::after {
                transform: rotate(-45deg) translate(0px, 0px);
              }
            }
          }
        }
      }
    }
  }

  footer {
    .large-form-container {
      .box {
        width: auto;
      }
    }
  }
}